{% set nav_links = [
    ('/', 'index', 'Главная'),
    ('/employees', 'employees', 'Пользователи'),
    ('/events', 'event', 'Статьи')
] %}

{% set active_page = active_page|default('index') %}

<ul class="nav flex-column">
    {% for href, id, caption in nav_links %}
    <li class='nav-item {% if id == active_page %}active{% endif %}'>
        <a class="nav-link" href="{{ href }}">{{ caption }}</a>
    </li>
    {% endfor %}
    <li class='nav-item'>
        <a class="nav-link" href="/profile/{{ current_user.id }}">Профиль</a>
    </li>
    {% if current_user.is_admin %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Администрирование</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ url_for('admin.users') }}">Пользователи</a>
            <a class="dropdown-item" href="{{ url_for('admin.positions') }}">Позиции</a>
        </div>
    </li>
    {% endif %}
    <li class='nav-item'>
        <a class="nav-link" href="/logout">Выход</a>
    </li>
</ul>